# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite

# misc
.DS_Store
*.pem
.cache
.env
.vercel
.output
.vinxi

# production
/build/
/server/build
/public/build
.vinxi

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea
